*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.fuente-especial {
  font-family: 'Playfair Display', serif;
}

.fuente-especial-portada {
  font-family: 'Tilt Prism', cursive;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}
.main-nav {
  background-color: #333;
  color: #fff;
}

.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.has-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  list-style-type: none;
  padding: 10px;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
}


.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #ff6600;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}


section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.no-parallax {
  background-color: rgb(139, 139, 139);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
}

.no-parallax-article {
  background-color: rgb(73, 73, 73);
  z-index: 999;
  display: flex;
  overflow: hidden;
  padding: 20px;
}
.no-parallax .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.no-parallax-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("./img/extorsion.jpg");
  z-index: 999;
}

.parallax h1 {
  width: 60%;
  font-size: 2rem;
}

.parallax-bg {
  height: 120vh;
  overflow: hidden;
  position: relative;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.centered-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  color: white;
}

#videosExternos {
  background-color: #5e5e5e;
  height: auto;
  text-align: center; 
  align-items: center;
  padding: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video-container {
  background-color: #5e5e5e;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  overflow: hidden;
  height: auto;
}

.video-container video {
  max-width: 100%;
  width: 80%;
  height: auto;
}
.section1::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("./img/noche.jpg");
  background-size: cover;
}

.section2::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/perro.jpg");
  background-size: cover;
}

.section3::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/ninios.jpg");
  background-size: cover;
}

.section4::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/reunion.jpg");
  background-size: cover;
}

.section5::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("./img/amigas.jpg");
  background-size: cover;
}
.section6::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("./img/Homebuyer\ beware_\ FTC\,\ Realtors\ issue\ warning\ on\ mortgage\ closing\ cost\ phishing\ scheme.jpg");
  background-size: cover;
}
.sectionMain::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/noche.jpg");
  background-size: cover;
}

.section-links {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/fondo_enlaces.jpg");
  background-size: cover;
  text-align: center; 
  padding: 50px 0;
}

.link-list {
  list-style-type: none;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0;
  margin: 0;
}

.link-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
 }

.link-list li {
    text-align: center;
    flex-basis: calc(25% - 20px);
    margin: 0 10px;
}

.link-list li img {
    max-width: 200px;
    height: auto;
    border: 2px solid #fff;
    transition: transform 0.3s;
}

.link-list li p {
    font-size: 14px;
    max-height: 60px; 
    color: #f0f0f0;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.link-list img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  section h1 {
    font-size: 8rem;
  }

  .parallax h1 {
    font-size: 4rem;
  }
}

#galeriaImg {
  background-color: rgb(73, 73, 73);
  padding: 20px;
  height: auto;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-link {
  position: relative;
  display: block;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery-link img {
  width: 90%;
  height: auto;
}

.gallery-link:hover {
  transform: scale(1.1);
}
.small-image-gallery {
  width: 60%; 
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-link:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.scroll-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  flex-shrink: 0;
}

.flex-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.flex-container {
  display: flex;
  align-items: center;
  margin: -10px;
}
.flex-container-text{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.flex-left-text{
  flex: 0 1 1000px;
  font-size: 32px;
}
.flex-main-text{
  flex: 0 1 1000px;
  font-size: 32px;
}

.flex-left,
.flex-right {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  max-width: auto;
  height: auto;
}

.flex-right h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.flex-right audio {
  margin-top: 20px; 
  width: 100%;
}

.flex-right audio::-webkit-media-controls-panel {
  width: 100%; 
  display: flex; 
}

.flex-right audio::-webkit-media-controls-timeline {
  flex: 1; 
}
.flex-right img,
.flex-left img {
  max-width: 100%; 
  height: auto; 
  display: block;
  margin: 0 auto; 
}
.flex-left .descripcion {
  font-size: 30px;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 20px;
}

/* Estilo para las imágenes dentro de .flex-right */
.flex-right img {
  margin-top: 20px; /* Añade margen superior para separarla del audio */
}

.small-image {
  width: 50%; /* Reducir el ancho a la mitad */
  height: auto; /* Mantener la proporción de aspecto */
}
